*, *:before, *:after {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Julius Sans One', sans-serif, black;
  font-family: 'Quicksand', sans-serif, black;
  color: burlywood;
  width:auto!important;
  margin: auto;
  overflow-x:hidden;
}
* {
  box-sizing: border-box;
}
img {
  width: 100%; 
  height: auto;
}
.section { 
  width: 100%;
  height: auto;
  padding: 0rem 3rem;
}
.logo {
  max-width: 4rem;
}
.header-section { 
  text-align: center;
  background-image: linear-gradient(rgba(244, 152, 4, 0.906), rgb(252, 252, 251));
   color: #eec187;
   color: rgb(95, 96, 98);  
}
.header-section h1{  
   font-size: 4rem;
}
.header-section .story {
  font-size: 2rem;
  text-align:left;
}
.text-smaller {
  font-size: 3rem;
}
.head-text { 
 font-size: 1.5rem;
  text-align:center;
}
.figure-caption{
  font-size: 1.5rem;
  color: rgb(95, 96, 98);
}
.stones .figure-caption {
    color: rgb(95, 96, 98);
}

/* 01. place items center*/
.center-item { 
  display: flex;
  flex: 0 1 350px; /*8 no stretching*/
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  resize: both;
  overflow: auto;
}
/*02. The Deconstructed Pancake 
flex: 0 1 <baseWidth>*/
.pancake {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.pancake .box {
  flex: 1 1 150px; /*  Stretching: */
  /*  flex: 0 1 150px;  No stretching: */
  margin: 10px;
  padding: 1rem;
  background:#f8f9fa;
  text-align: center;
}
p { 
  text-align: left;
}
 /* 04. Pancake Stack
grid-template-rows: auto 1fr auto */
.ex4 .parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
 /* 06. 12-Span Grid
grid-template-columns: repeat(12, 1fr)*/ 
.span-grid {
  display: grid;
  padding: 1rem;
  margin: 3px;
  background: rgb(221, 195, 156);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 5, 1fr;
  grid-row-gap: 10px;
  font-size: 2rem;
  text-align: center;
}  
.span-12 {
  display: grid;
   color: rgb(124, 86, 43);

  place-items: center;
  grid-column: 1 / span 12;
  width: 100%; 
  text-align: center; 
  }
 .span-6 {
  display: grid;
  place-items: center;
  grid-column: 2 / span 6;
  width: 100%; 
  height: auto;
  }
.section {
  display: grid;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
.enamel { 
 background-color:rgb(218, 162, 40);
 background-color:rgb(220, 146, 36);
 background-color: white;
 color: rgb(95, 96, 98); 
} 
.artist { 
  background-color: #eff4f5;
  color: black;
}
.artist h1 {
  color: hwb(24 11% 18% / 0.843);
  font-weight: 600;
}
.stones { 
  background-color: #eff4f5;
  color: #494a4a;
}
.resin{ 
  background-color: #eff4f5;
 /* background-color: hwb(24 11% 18% / 0.843);*/
  color: #494a4a;
}
.bio { 
  color: black;
}
.bio h3, .bio h4 {
  color:orange;
  font-weight: 600;
}
  /* 07. RAM (Repeat, Auto, Minmax)
grid-template-columns: repeat(auto-fit, minmax(<base>, 1fr)) */
.ram {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.ram .box { 
  place-items: center;
  text-align: center;
  padding: 2rem;
}
.statement { 
  background-color: white;
}
.thumbnail {
  max-width: 40%;
  border-radius: 3%;
}
.image-container {
  display: flex;
  justify-content: space-around;
}
a:link {
color:rgb(193, 126, 1) /* Unvisited link */
}
a:visited {
color: rgb(124, 86, 43); /* Visited link */
}
a:hover {
color: orange; /* Mouse over link */
}
a:active {
color: rgb(255, 149, 0); /* Selected link */
}


footer { 
  background-color:;
  color: rgb(124, 86, 43);
   text-align: center;
   height: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  background-image: linear-gradient( rgb(249, 207, 123),#ffab03, rgb(247, 212, 158));

}