*, *:before, *:after {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Quicksand', sans-serif; 
  width: auto;
  width: 100%!important;
  color:#000000;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4 {
  font-family: 'Julius Sans One', sans-serif;
}
h5, h6, p {
  font-family: 'Quicksand', sans-serif;
}
.zoom {
  background-color: white;
  transition: transform .3s;
  margin: 0 auto; 
}
.zoom:hover {
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
}
img {
  width: 100%; 
  height: auto;
}
.section { 
  width: 100%;
  height: auto;
  padding: 5rem 0rem;
}
.logo {
  max-width: 4rem;
}
.header-section { 
  text-align: center;
  background-color: #c97f4c;
  color:white;
  padding: 1rem;  
}
.header-section h1{
  
   font-size: 3rem;
}
.head-text { 
  text-align: center;
  padding: 3rem 0rem;
  border-radius: 5px;
  margin: auto;
}
.ram {
  margin-top: 0.5rem;
}
/* 01. place items center*/
.center-item { 
  display: flex;
  flex: 0 1 350px; /*8 no stretching*/
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  resize: both;
  overflow: auto;
}
/*02. The Deconstructed Pancake 
flex: 0 1 <baseWidth>*/
.pancake {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.pancake .box {
  flex: 1 1 150px; /*  Stretching: */
  /*  flex: 0 1 150px;  No stretching: */
  margin: 10px;
  padding: 1rem;
  background:#f8f9fa;
  text-align: center;
}
p { 
  text-align: left;
}
 /* 04. Pancake Stack
grid-template-rows: auto 1fr auto 
.ex4 .parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
*/
 /* 06. 12-Span Grid
grid-template-columns: repeat(12, 1fr) */
.span-grid {
  display: grid;
  padding: 1rem;
  margin: 15px;
  background: rgb(221, 195, 156);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 5, 1fr;
  grid-row-gap: 10px;
  font-size: 2rem;
  text-align: center;
}  
.span-12 {
  display: grid;
  color: #be3c09;
  place-items: center;
  grid-column: 1 / span 12;
  width: 100%; 
  text-align: center; 
  }
 .span-6 {
  display: grid;
  place-items: center;
  grid-column: 2 / span 6;
  width: 100%; 
  height: auto;
  }
.section {
  display: grid;
  text-align: center;
}
.enamel { 
 background-color: #76a8b4;
  color: #dee2e6;
} 
.resin{ 
  background-color: #434343;
  color: #c97f4c;
}
.artist { 
  background-color: #c97f4c;
  color: white;
}
.stones { 
  background-color: #c97f4c;
  color: white;
}

.mixed-media { 
  background-color: #76a8b4;
  color: white;
}
.bio { 
  background-color: #e8a968;
  color: black;
}
  /* 07. RAM (Repeat, Auto, Minmax)
grid-template-columns: repeat(auto-fit, minmax(<base>, 1fr)) */
.ram {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.ram .box { 
  place-items: center;
  text-align: center;
  padding: 1rem;
}
.statement { 
  background-color: white;
}

footer { 
   color: white;
  background-image: url("img/yellow-sq.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}
a, a:hover {
  -webkit-transition: all 350ms ease-in-out 0s;
  -moz-transition: all 350ms ease-in-out 0s;
  -o-transition: all 350ms ease-in-out 0s;
  transition: all 350ms ease-in-out 0s;
  background-size: 2%;
  opacity: 1;
}

  

